
.hero-section {
    width: 100vw;
    height: 92vh;
    background-color: #32ef8a65;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 200px;
    width: 350px;
    padding: 4rem;
    border: black solid 1px;
    border-radius: 2rem;
}

.green-text {
    color: forestgreen;
    text-decoration: underline black;
}